html {
    min-height: fit-content;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    height: 8;
    font-size:x-large;
    color: white;
}

.fab {
    color: white;
}

fab:hover {
    color: gray;
}

.container {
    position: relative;
    top: 0;
    
}

.first {
    position: absolute;
    left: 0;
    top: 0%;
    width: auto;
    background-color: red;
    text-align: center;
    font-weight: bold;
    font-size: 700%;
}

.second {
    position: relative;
    left: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 700%;
}

.third {
    position: relative;
    left: 0;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    font-size: 700%;
}

.fourth {
    position: relative;
    left: 0;
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    font-weight: bold;
    font-size: 700%;
}
