html {
    min-height: fit-content;
    scroll-behavior: smooth;
}

body {
	text-align: center;
	margin: 0;
	overflow: overlay;
	box-sizing: border-box;
}

* {
	outline: none;
    font-family: Roboto, sans-serif;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    height: 8;
    color: white;
    padding: 3%;
	font-size: 0.7rem;
}

.section {
	padding: 10%;
}

#contact {
	font-size: 1.2rem;
}

.fab {
    transition: all 0.4s;
	margin: 1rem 3rem 1rem 3rem;
}

.fab:hover {
	transform: scale(1.3);
}

.fab {
    color: black;
}
