.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    font-weight: bold;
    height: 8%;
}

.link {
    color: aquamarine;
}

.link:hover {
    color: aqua;
}

.first  {
    background-color: red;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: fixed;
}
